* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: rgb(238, 238, 238);
}

header {
  padding: 10px;
  background-color: white;
}

main {
  width: 80%;
  margin: 0 auto;
}

.logo {
  vertical-align: middle;
}

.text-logo {
  vertical-align: middle;
  font-size: 25px;
  font-weight: 900;
}

.container {
  background-color: white;
  margin-top: 50px;
  border-radius: 5px;
}

.container_header_button {
  padding: 15px 40px;
}

.container_header--btbBlu {
  padding: 6px;
  background-color: #47adf1;
  border: none;
  border-radius: 7px;
  color: white;
}

.container_header--btbWhite {
  padding: 6px;
  background-color: #fff;
  border-color: #d5d9dd;
  border-radius: 7px;
  color: #b3b3b3;
}

hr.container_header_divisore {
  height: 2px;
  background-color: #eeeeee;
  border: none;
}
