* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: rgb(238, 238, 238);
}

header {
  padding: 10px;
  background-color: white;
}

main {
  width: 80%;
  margin: 0 auto;
}

.logo {
  vertical-align: middle;
}

.text-logo {
  vertical-align: middle;
  font-size: 25px;
  font-weight: 900;
}

.container {
  background-color: white;
  margin-top: 50px;
  border-radius: 5px;
}

.container_header_button {
  padding: 15px 40px;
}

.container_header--btbBlu {
  padding: 6px;
  background-color: #47adf1;
  border: none;
  border-radius: 7px;
  color: white;
}

.container_header--btbWhite {
  padding: 6px;
  background-color: #fff;
  border-color: #d5d9dd;
  border-radius: 7px;
  color: #b3b3b3;
}

hr.container_header_divisore {
  height: 2px;
  background-color: #eeeeee;
  border: none;
}

.allSectionTask {
  padding-left: 40px;
  padding-bottom: 50px;
}

.sectionTask {
  padding-top: 30px;
}

.containerNewTask {
  padding-top: 30px;
}

.arrowSpace {
  padding-left: 4px;
}

.lista {
  list-style: none;
  padding-top: 15px;
}

li {
  margin-top: 9px;
}

i.fa {
  display: inline-block;
  border-radius: 60px;
  border: 1px solid green;
  padding: 1px;
  color: green;
}

.fake_btn_generic {
  height: 27px;
  width: 63px;
  display: inline-block;
  border-radius: 13px;
  vertical-align: middle;
  color: white;
  position: relative;
}

.btn-blu {
  background-color: #45abe9;
}

.btn-violet {
  background-color: #9c72e4;
  width: 73px;
}

.btn-green {
  background-color: #64c0a9;
  width: 84px;
}

.btn-yellow {
  background-color: #f29e33;
  width: 54px;
}

.btn-lime {
  background-color: #b0c926;
  width: 49px;
}

.btn-pink {
  background-color: #d863a0;
}

.label {
  font-size: 11px;
  position: absolute;
  top: 25%;
  left: 19%;
}
